@model Office

<h2>Create New Office</h2>

<form>
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
    </div>

    <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
    </div>
</form>
