@model Office

<h2>Edit Office</h2>

@using (Html.BeginForm("Edit", "Office", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label for="Name">Name</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="Location">Location</label>
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Index")" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}
